<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>直播-新建</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
  <link rel="stylesheet" href="./../css/index.css">
  <script src="https://unpkg.com/vue@3"></script>
  <script src="//unpkg.com/element-plus"></script>
  <script src="//unpkg.com/element-plus/dist/locale/zh-cn"></script>
  <script src="./jquery-3.2.1.min.js"></script>
  <script src="./addLiveDynamic.js" type="module"></script>
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
  <div id="app">
    <div class="cms-container">
      <!-- 面包屑导航 -->
      <!-- <div class="cms-breadcrumb">
        看看号管理 > 内容管理 > 直播 > <span class="active">新建</span>
      </div> -->
      <!-- 面包屑导航 end -->

      <!-- 分割线 -->
      <!-- <div class="divider"></div> -->

      <div class="content">
        <div class="cms-edit-container">
          <div class="cms-edit_left">
            <div class="flex-row btn-container">
              <cms-button @click="handleCancelClick" type="danger" round>取消</cms-button>
              <cms-button @click="handleRefuseClick" type="danger" round>驳回</cms-button>
              <cms-button @click="handleSaveClick" type="success" solid round style="margin-left: 50px">
                保存
              </cms-button>
              <cms-button @click="handleUpdateOnlineClick" type="success" solid round style="margin-left: 50px">
                更新上线
              </cms-button>
              <cms-button @click="handleAuditPassClick" type="success" solid round style="margin-left: 50px">
                审核通过
              </cms-button>
              <cms-button @click="handleAudioPassOnlineClick" type="primary" solid round style="margin-left: 50px">
                审核上线
              </cms-button>
              <cms-button @click="handleSubmitClick" type="success" round has_icon shadow
                style="margin-left: 70px">
                <template #icon>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="14" height="14" style="
                    fill: rgba(26, 177, 147, 1);
                    border-color: rgba(0, 0, 0, 0);
                    border-width: apx;
                    border-style: undefined;
                  " filter="none">
                    <path
                      d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z">
                    </path>
                  </svg>
                </template>

                送审
              </cms-button>
              <cms-button @click="handlePreviewClick" type="success" round has_icon shadow
                class="fixed-right" style="margin-left: auto">
                <template #icon>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" style="
                      fill: rgba(26, 177, 147, 1);
                      border-color: rgba(0, 0, 0, 0);
                      border-width: bpx;
                      border-style: undefined;
                    " filter="none">
                    <path
                      d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z" />
                  </svg>
                </template>
                预览
              </cms-button>
            </div>
          </div>
          <div class="cms-edit_right">
            <div class="flex-row btn-container">
              <cms-button @click="handleLogClick" type="info" solid round has_icon fixed-right
                style="width: 120px; top: 0; margin-left: auto">
                <template #icon>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15" height="15" style="
                    fill: rgba(117, 132, 160, 1);
                    border-color: rgba(0, 0, 0, 0);
                    border-width: bpx;
                    border-style: undefined;
                  " filter="none">
                    <path
                      d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z" />
                  </svg>
                </template>
                操作记录
              </cms-button>
            </div>
          </div>
        </div>

        <div class="cms-edit-container">
          <div class="cms-edit_left">
            <div ref="leftContainer" class="cms-form-container">
              <index-component 
                v-for="item in leftComponents" 
                :key="item" 
                :tag="item.field_type" 
                :children="item.children"
                v-bind="item"
                v-model="item.value"
                ref="leftItems"
              ></index-component>
            </div>
          </div>
          <div class="cms-edit_right">
            <div ref="rightContainer" class="cms-edit__collapse">
              <index-component 
                v-for="item in rightComponents" 
                :key="item" 
                :tag="item.field_type" 
                :children="item.children"
                v-bind="item"
                v-model="item.value"
                ref="rightItems"
              ></index-component>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>