:root {
  --rdc-color-white: #ffffff;
  --rdc-color-black: #000000;
  --rdc-color-primary: #0798ff;
  --rdc-color-primary-light-1: #0099ff;
  --rdc-color-primary-light-5: #6bc2ff;
  --rdc-color-primary-light-9: #f0f9ff;
  --rdc-color-success: #01bb90;
  --rdc-color-success-light-1: #01bb90;
  --rdc-color-success-light-5: #67d7bd;
  --rdc-color-success-light-9: #f0fbf9;
  --rdc-color-warning: #ff8130;
  --rdc-color-warning-light-1: #ff8130;
  --rdc-color-warning-light-5: #ffb483;
  --rdc-color-warning-light-9: #fff7f3;
  --rdc-color-danger: #f35353;
  --rdc-color-danger-light-1: #f35353;
  --rdc-color-danger-light-5: #f89898;
  --rdc-color-danger-light-9: #fef5f5;
  --rdc-color-info: #f0f0f0;
  --rdc-color-info-light-5: #f0f0f0;
  --rdc-fill-color-blank: #ffffff;
  --rdc-text-color-regular: #666666;
  --rdc-text-color-disabled: #999999;
  --rdc-font-weight-primary: 400;
  --rdc-font-size-large: 16px;
  --rdc-font-size-medium: 14px;
  --rdc-font-size-small: 12px;
  --rdc-border-radius-large: 6px;
  --rdc-border-radius-medium: 4px;
  --rdc-border-radius-small: 2px;
  --rdc-border-color: #e9e9e9;
  --rdc-border-width: 1px;
  --rdc-border-style: solid;
  --rdc-border: var(--rdc-border-width) var(--rdc-border-style) var(--rdc-border-color);
  --rdc-font-size-base: var(--rdc-font-size-medium);
  --rdc-border-radius-base: var(--rdc-border-radius-medium);
  --rdc-border-radius-round: 20px;
  --rdc-disabled-text-color: #BFBFBF;
  --rdc-border-color-light: #E9E9E9;
  --rdc-mask-color-extra-light: rgba(255, 255, 255, 0.3);
}

.rdc-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  min-width: 74px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--rdc-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: var(--rdc-button-font-weight);
  user-srdcect: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--rdc-button-bg-color);
  border: var(--rdc-border);
  border-color: var(--rdc-button-border-color);
  padding: 5px 9px;
  font-size: var(--rdc-font-size-base);
  border-radius: var(--rdc-border-radius-base);
}

.rdc-button {
  --rdc-button-font-weight: var(--rdc-font-weight-primary);
  --rdc-button-border-color: var(--rdc-border-color);
  --rdc-button-bg-color: var(--rdc-fill-color-blank);
  --rdc-button-text-color: var(--rdc-text-color-regular);
  --rdc-button-disabled-text-color: var(--rdc-disabled-text-color);
  --rdc-button-disabled-bg-color: var(--rdc-fill-color-blank);
  --rdc-button-disabled-border-color: var(--rdc-border-color-light);
  --rdc-button-divide-border-color: rgba(255, 255, 255, .5);
  --rdc-button-hover-text-color: var(--rdc-color-primary);
  --rdc-button-hover-bg-color: var(--rdc-color-primary-light-9);
  --rdc-button-hover-border-color: var(--rdc-color-primary-light-7);
  --rdc-button-active-text-color: var(--rdc-button-hover-text-color);
  --rdc-button-active-border-color: var(--rdc-color-primary);
  --rdc-button-active-bg-color: var(--rdc-button-hover-bg-color);
  --rdc-button-outline-color: var(--rdc-color-primary-light-5);
  --rdc-button-hover-link-text-color: var(--rdc-color-info);
  --rdc-button-active-color: var(--rdc-text-color-primary);
}

.rdc-button--primary {
  --rdc-button-text-color: var(--rdc-color-white);
  --rdc-button-bg-color: var(--rdc-color-primary);
  --rdc-button-border-color: var(--rdc-color-primary);
  --rdc-button-outline-color: var(--rdc-color-primary-light-5);
  --rdc-button-active-color: var(--rdc-color-primary-dark-2);
  --rdc-button-hover-text-color: var(--rdc-color-white);
  --rdc-button-hover-link-text-color: var(--rdc-color-primary-light-5);
  --rdc-button-hover-bg-color: var(--rdc-color-primary-light-3);
  --rdc-button-hover-border-color: var(--rdc-color-primary-light-3);
  --rdc-button-active-bg-color: var(--rdc-color-primary-dark-2);
  --rdc-button-active-border-color: var(--rdc-color-primary-dark-2);
  --rdc-button-disabled-text-color: var(--rdc-color-white);
  --rdc-button-disabled-bg-color: var(--rdc-color-primary-light-5);
  --rdc-button-disabled-border-color: var(--rdc-color-primary-light-5);
}

.rdc-button--success {
  --rdc-button-text-color: var(--rdc-color-white);
  --rdc-button-bg-color: var(--rdc-color-success);
  --rdc-button-border-color: var(--rdc-color-success);
  --rdc-button-outline-color: var(--rdc-color-success-light-5);
  --rdc-button-active-color: var(--rdc-color-success-dark-2);
  --rdc-button-hover-text-color: var(--rdc-color-white);
  --rdc-button-hover-link-text-color: var(--rdc-color-success-light-5);
  --rdc-button-hover-bg-color: var(--rdc-color-success-light-3);
  --rdc-button-hover-border-color: var(--rdc-color-success-light-3);
  --rdc-button-active-bg-color: var(--rdc-color-success-dark-2);
  --rdc-button-active-border-color: var(--rdc-color-success-dark-2);
  --rdc-button-disabled-text-color: var(--rdc-color-white);
  --rdc-button-disabled-bg-color: var(--rdc-color-success-light-5);
  --rdc-button-disabled-border-color: var(--rdc-color-success-light-5);
}

.rdc-button--warning {
  --rdc-button-text-color: var(--rdc-color-white);
  --rdc-button-bg-color: var(--rdc-color-warning);
  --rdc-button-border-color: var(--rdc-color-warning);
  --rdc-button-outline-color: var(--rdc-color-warning-light-5);
  --rdc-button-active-color: var(--rdc-color-warning-dark-2);
  --rdc-button-hover-text-color: var(--rdc-color-white);
  --rdc-button-hover-link-text-color: var(--rdc-color-warning-light-5);
  --rdc-button-hover-bg-color: var(--rdc-color-warning-light-3);
  --rdc-button-hover-border-color: var(--rdc-color-warning-light-3);
  --rdc-button-active-bg-color: var(--rdc-color-warning-dark-2);
  --rdc-button-active-border-color: var(--rdc-color-warning-dark-2);
  --rdc-button-disabled-text-color: var(--rdc-color-white);
  --rdc-button-disabled-bg-color: var(--rdc-color-warning-light-5);
  --rdc-button-disabled-border-color: var(--rdc-color-warning-light-5);
}

.rdc-button--danger {
  --rdc-button-text-color: var(--rdc-color-white);
  --rdc-button-bg-color: var(--rdc-color-danger);
  --rdc-button-border-color: var(--rdc-color-danger);
  --rdc-button-outline-color: var(--rdc-color-danger-light-5);
  --rdc-button-active-color: var(--rdc-color-danger-dark-2);
  --rdc-button-hover-text-color: var(--rdc-color-white);
  --rdc-button-hover-link-text-color: var(--rdc-color-danger-light-5);
  --rdc-button-hover-bg-color: var(--rdc-color-danger-light-3);
  --rdc-button-hover-border-color: var(--rdc-color-danger-light-3);
  --rdc-button-active-bg-color: var(--rdc-color-danger-dark-2);
  --rdc-button-active-border-color: var(--rdc-color-danger-dark-2);
  --rdc-button-disabled-text-color: var(--rdc-color-white);
  --rdc-button-disabled-bg-color: var(--rdc-color-danger-light-5);
  --rdc-button-disabled-border-color: var(--rdc-color-danger-light-5);
}

.rdc-button--info {
  --rdc-button-text-color: var(--rdc-text-color-disabled);
  --rdc-button-bg-color: var(--rdc-color-info);
  --rdc-button-border-color: var(--rdc-color-info);
  --rdc-button-outline-color: var(--rdc-color-info-light-5);
  --rdc-button-active-color: var(--rdc-color-info-dark-2);
  --rdc-button-hover-text-color: var(--rdc-color-white);
  --rdc-button-hover-link-text-color: var(--rdc-color-info-light-5);
  --rdc-button-hover-bg-color: var(--rdc-color-info-light-3);
  --rdc-button-hover-border-color: var(--rdc-color-info-light-3);
  --rdc-button-active-bg-color: var(--rdc-color-info-dark-2);
  --rdc-button-active-border-color: var(--rdc-color-info-dark-2);
  --rdc-button-disabled-text-color: var(--rdc-text-color-disabled);
  --rdc-button-disabled-bg-color: var(--rdc-color-info-light-5);
  --rdc-button-disabled-border-color: var(--rdc-color-info-light-5);
}

.rdc-button--primary.is-plain, .rdc-button--primary.is-text, .rdc-button--primary.is-link {
  --rdc-button-text-color: var(--rdc-color-primary);
  --rdc-button-bg-color: var(--rdc-color-primary-light-9);
  --rdc-button-border-color: var(--rdc-color-primary-light-5);
  --rdc-button-hover-text-color: var(--rdc-color-white);
  --rdc-button-hover-bg-color: var(--rdc-color-primary);
  --rdc-button-hover-border-color: var(--rdc-color-primary);
  --rdc-button-active-text-color: var(--rdc-color-white);
}

.rdc-button--success.is-plain, .rdc-button--success.is-text, .rdc-button--success.is-link {
  --rdc-button-text-color: var(--rdc-color-success);
  --rdc-button-bg-color: var(--rdc-color-success-light-9);
  --rdc-button-border-color: var(--rdc-color-success-light-5);
  --rdc-button-hover-text-color: var(--rdc-color-white);
  --rdc-button-hover-bg-color: var(--rdc-color-success);
  --rdc-button-hover-border-color: var(--rdc-color-success);
  --rdc-button-active-text-color: var(--rdc-color-white);
}

/* .rdc-button--info.is-plain, .rdc-button--info.is-text, .rdc-button--info.is-link {
  --rdc-button-text-color: var(--rdc-color-info);
  --rdc-button-bg-color: var(--rdc-color-info-light-9);
  --rdc-button-border-color: var(--rdc-color-info-light-5);
  --rdc-button-hover-text-color: var(--rdc-color-white);
  --rdc-button-hover-bg-color: var(--rdc-color-info);
  --rdc-button-hover-border-color: var(--rdc-color-info);
  --rdc-button-active-text-color: var(--rdc-color-white);
} */

.rdc-button--warning.is-plain, .rdc-button--warning.is-text, .rdc-button--warning.is-link {
  --rdc-button-text-color: var(--rdc-color-warning);
  --rdc-button-bg-color: var(--rdc-color-warning-light-9);
  --rdc-button-border-color: var(--rdc-color-warning-light-5);
  --rdc-button-hover-text-color: var(--rdc-color-white);
  --rdc-button-hover-bg-color: var(--rdc-color-warning);
  --rdc-button-hover-border-color: var(--rdc-color-warning);
  --rdc-button-active-text-color: var(--rdc-color-white);
}

.rdc-button--danger.is-plain, .rdc-button--danger.is-text, .rdc-button--danger.is-link {
  --rdc-button-text-color: var(--rdc-color-danger);
  --rdc-button-bg-color: var(--rdc-color-danger-light-9);
  --rdc-button-border-color: var(--rdc-color-danger-light-5);
  --rdc-button-hover-text-color: var(--rdc-color-white);
  --rdc-button-hover-bg-color: var(--rdc-color-danger);
  --rdc-button-hover-border-color: var(--rdc-color-danger);
  --rdc-button-active-text-color: var(--rdc-color-white);
}

.rdc-button.is-round {
  border-radius: var(--rdc-border-radius-round);
}

.rdc-button--large {
  --rdc-button-size: 40px;
  height: var(--rdc-button-size);
  min-width: 100px;
  padding: 8px 18px;
  font-size: var(--rdc-font-size-large);
  border-radius: var(--rdc-border-radius-large);
}

.rdc-button--small {
  --rdc-button-size: 24px;
  height: var(--rdc-button-size);
  min-width: 56px;
  padding: 3px 7px;
  font-size: 12px;
  border-radius: var(--rdc-border-radius-small);
}

.rdc-button.is-link {
  color: var(--rdc-button-text-color);
  border: 0 solid transparent;
  background-color: transparent;
}

.rdc-button.is-disabled, .rdc-button.is-disabled:hover, .rdc-button.is-disabled:focus {
  color: var(--rdc-button-disabled-text-color);
  cursor: not-allowed;
  background-image: none;
  background-color: var(--rdc-button-disabled-bg-color);
  border-color: var(--rdc-button-disabled-border-color);
}

.rdc-button--primary.is-plain.is-disabled, .rdc-button--primary.is-plain.is-disabled:hover, .rdc-button--primary.is-plain.is-disabled:focus, .rdc-button--primary.is-plain.is-disabled:active, .rdc-button--primary.is-text.is-disabled, .rdc-button--primary.is-text.is-disabled:hover, .rdc-button--primary.is-text.is-disabled:focus, .rdc-button--primary.is-text.is-disabled:active, .rdc-button--primary.is-link.is-disabled, .rdc-button--primary.is-link.is-disabled:hover, .rdc-button--primary.is-link.is-disabled:focus, .rdc-button--primary.is-link.is-disabled:active {
  color: var(--rdc-color-primary-light-5);
  background-color: var(--rdc-color-primary-light-9);
  border-color: var(--rdc-color-primary-light-5);
}

.rdc-button--success.is-plain.is-disabled, .rdc-button--success.is-plain.is-disabled:hover, .rdc-button--success.is-plain.is-disabled:focus, .rdc-button--success.is-plain.is-disabled:active, .rdc-button--success.is-text.is-disabled, .rdc-button--success.is-text.is-disabled:hover, .rdc-button--success.is-text.is-disabled:focus, .rdc-button--success.is-text.is-disabled:active, .rdc-button--success.is-link.is-disabled, .rdc-button--success.is-link.is-disabled:hover, .rdc-button--success.is-link.is-disabled:focus, .rdc-button--success.is-link.is-disabled:active {
  color: var(--rdc-color-success-light-5);
  background-color: var(--rdc-color-success-light-9);
  border-color: var(--rdc-color-success-light-5);
}

.rdc-button--warning.is-plain.is-disabled, .rdc-button--warning.is-plain.is-disabled:hover, .rdc-button--warning.is-plain.is-disabled:focus, .rdc-button--warning.is-plain.is-disabled:active, .rdc-button--warning.is-text.is-disabled, .rdc-button--warning.is-text.is-disabled:hover, .rdc-button--warning.is-text.is-disabled:focus, .rdc-button--warning.is-text.is-disabled:active, .rdc-button--warning.is-link.is-disabled, .rdc-button--warning.is-link.is-disabled:hover, .rdc-button--warning.is-link.is-disabled:focus, .rdc-button--warning.is-link.is-disabled:active {
  color: var(--rdc-color-warning-light-5);
  background-color: var(--rdc-color-warning-light-9);
  border-color: var(--rdc-color-warning-light-5);
}

.rdc-button--danger.is-plain.is-disabled, .rdc-button--danger.is-plain.is-disabled:hover, .rdc-button--danger.is-plain.is-disabled:focus, .rdc-button--danger.is-plain.is-disabled:active, .rdc-button--danger.is-text.is-disabled, .rdc-button--danger.is-text.is-disabled:hover, .rdc-button--danger.is-text.is-disabled:focus, .rdc-button--danger.is-text.is-disabled:active, .rdc-button--danger.is-link.is-disabled, .rdc-button--danger.is-link.is-disabled:hover, .rdc-button--danger.is-link.is-disabled:focus, .rdc-button--danger.is-link.is-disabled:active {
  color: var(--rdc-color-danger-light-5);
  background-color: var(--rdc-color-danger-light-9);
  border-color: var(--rdc-color-danger-light-5);
}

.rdc-icon {
  --color: inherit;
  height: fit-content;
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;
}

.rdc-icon svg {
  width: 1em;
}

.rdc-button [class*=rdc-icon]+span {
  margin-left: 6px;
}

.rdc-button.is-loading {
  position: relative;
  pointer-events: none;
}

.rdc-button.is-loading:before {
  z-index: 1;
  pointer-events: none;
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
  background-color: var(--rdc-mask-color-extra-light);
}